---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/main.astro'
import { getArticles } from '../../utils';
import type { CollectionEntry } from 'astro:content';
import ArticleCard from '../../components/ArticleCard.astro';
import SearchForm from '../../components/SearchForm.astro';
import { supabase } from "../../lib/supabase";

const {slug} = Astro.params

if(slug === undefined){
    throw new Error("Not found");
}

const entries = await getArticles();

const entry = entries.find(entry => entry.slug == slug);

if(entry === undefined){
    return Astro.redirect('/404')
}
const allBlogArticles = await getArticles();

const  query = Astro.url.searchParams.get('query');

const searchArticles = allBlogArticles.filter((article) => {
    let bodyMatch : boolean = article.html.toLowerCase().includes(query!.toLowerCase())

    let titleMatch : boolean = article.title.toLowerCase().includes(query!.toLowerCase());

    let slugMatch : boolean = article.slug.toLowerCase().includes(query!.toLowerCase());

    return bodyMatch || titleMatch || slugMatch
})


---

<MainLayout>
    <SearchForm/>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
        {searchArticles.map(article => 
          <ArticleCard article={article}/>
          )}
      </div>
</MainLayout>