---
import BlogSubmitForm from "../components/BlogSubmitForm.astro";
import MainLayout from "../layouts/main.astro";
---

<MainLayout title="Submit a Blog Post">
  <div class="max-w-3xl mx-auto py-12">
    <BlogSubmitForm />
  </div>
</MainLayout>
