---
import { Image } from "astro:assets";
import doctorImage from "../images/doctor_image.jpeg"
import { TESTIMONIAL } from "../constants";
---

<section class="relative isolate overflow-hidden bg-white px-16 py-10 sm:py-15 lg:px-8">
    <div class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,theme(colors.indigo.100),white)] opacity-20"></div>
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
      <figure class="mt-10">
        <blockquote class="text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9">
          <p>{TESTIMONIAL}</p>
        </blockquote>
        <figcaption class="mt-10">
          <Image src={doctorImage} class="mx-auto h-10 w-10 rounded-full" alt="TechPeople Logo" width={80} height={80}/>
          <div class="mt-4 flex items-center justify-center space-x-3 text-base">
            <div class="font-semibold text-gray-900">Gregory House</div>
            <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-900">
              <circle cx="1" cy="1" r="1" />
            </svg>
            <div class="text-gray-600">HOD, Diagnostics</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </section>